REGION=SOME_REGION
ENDPOINT=SOME_ENDPOINT
BUCKET=SOME_BUCKET
AK=SOME_ACCESS
SK=SOME_SECRET

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=bot-email@gmail.com
SMTP_PASS=xxxx-xxxx-xxxx-xxxx

DEST_EMAIL=example@mail.com

MASTER_KEY=master